.central-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.card-divider {
    margin: 5px;
}

.grid-item {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    padding: 10px;
    margin: 0;
}

.bold {
    font-weight: bold;
}
