.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.drawer-container {
  display: flex;
  height: 100%;
  background: rgb(86, 82, 82);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.drawer {
  background: rgb(86, 82, 82);
  color: white;
  align-items: flex-start;
  justify-content: start;
}

.dark {
  background: rgb(86, 82, 82);
  color: white;
}

.icon {
  height: 40px;
}

.content {
  margin-left: 50px;
}