
<div   class="nav_lat">
    <div class="espacio"></div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/IconoRendimiento.png"></div>
        <div class="palabra">Rendimiento</div>
    </div>
    <div class="opcion" routerLink="/inicio/consejerias">
        <div class="icono"><img src="../../../../assets/img/IconoConsejerias.png"></div>
        <div class="palabra">Consejerias</div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/IconoBienestar.png"></div>
        <div class="palabra">Bienestar</div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/calendar 1.png"></div>
        <div class="palabra">Calendario</div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/Ellipse 2.png"></div>
        <div class="palabra">PDI</div>
    </div>
</div>
