/*Barra lateral no responsiva*/

.nav_lat {
    width: 100px;
}

.espacio {
    display: block;
    height: 30px;
}

.espacio2 {
    display: block;
    height: 110px;
}

.icono {
    display: inline-block;
    width: 35px;
    height: 35px;
    transition-duration: .5s;
}

.opcion {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.icono img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.palabra {
    display: block;
    overflow: hidden;
    width: 0px;
    color: rgb(255, 255, 255);
    transition-duration: .5s;
}

.nav_lat:hover {
    width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-duration: .5s;
}

.nav_lat:hover .palabra {
    width: 70%;
    transition-duration: .5s;
    padding-left: 10px;
}

.nav_lat:hover .icono {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.opcion:hover {
    background-color: #333333;
    transition-duration: .5s;
}





/*Barra lateral responsiva*/
.despliege {
    background-color: #E17A35;
    color: rgb(255, 255, 255);
    border: 0px;
    padding: 0px;
    width: 0px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
    border-top-left-radius: 0px;
}





/*configuracion responsiva*/
@media (max-width: 600px) {
    .nav_lat {
        width: 100px;
    }

    .despliege {
        width: 50px;
        height: 55px;
    }

    .despliege:hover {
        background-color: #333333;
    }
}