.nav_lat{
    display: flexbox;
    height: 90%;
    width: 50px;
    background-color:#616161;
    transition-duration: .5s;
}
.espacio{
    display: block;
    height: 30px;
}

.icono{
    display: inline-block;
    width:35px;
    height:35px;
    transition-duration: .5s;
}

.opcion{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.icono img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.palabra{
    display:block;
    overflow: hidden;
    width: 0px;
    font-family: 'Inter';
    font-style: normal;
    color: rgb(255, 255, 255);
    transition-duration: .5s;
}

.nav_lat:hover{
    width: 150px;
    transition-duration: .5s;
}

.nav_lat:hover .palabra{
    width: 70%;
    transition-duration: .5s;
    padding-left: 10px;
}

.nav_lat:hover .icono{
    margin-left: 10px;
    width:30px;
    height:30px;
}

.opcion:hover{
    background-color: #333333;
    transition-duration: .5s;
}




