<div class="nav_lat">

    <div class="espacio"></div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/IconoRendimiento.png"></div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/IconoConsejerias.png"></div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/IconoBienestar.png"></div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/calendar 1.png"></div>
    </div>
    <div class="opcion">
        <div class="icono"><img src="../../../../assets/img/Ellipse 2.png"></div>
    </div>
</div>