<div class="contenedor">
    <div class="datos">
      <div class="info">
         <samp class="titulo">Tus Datos</samp>
         <samp class="sub_titulo">Nombre:</samp>
         <samp>DIEGO ALEJANDRO VELEZ GARCIA</samp>
         <samp class="sub_titulo">Código:</samp>
         <samp>20172020001</samp>
         <samp class="sub_titulo">Proyecto Curricular:</samp>
         <samp>INGENIERIA DE SISTEMAS</samp>
      </div>
      <div class="iconos">
         <div class="iconos_orden">
            <mat-icon class="icono">warning</mat-icon>
            <samp class="icon_tex">Bajo rendimiento</samp>
         </div>
      </div>
    </div>
    <div class="datos">
      <div class="info">
         <samp class="titulo">Tu Profesor Consejero</samp>
         <samp class="sub_titulo">Nombre:</samp>
         <samp>DIEGO ALEJANDRO VELEZ GARCIA</samp>
         <samp class="sub_titulo">Código:</samp>
         <samp>20172020001</samp>
         <samp class="sub_titulo">Correo Electronico:</samp>
         <samp>ejemplo.@gmail.com</samp>
      </div>
      <div class="iconos">
         <div class="iconos_orden" routerLink="/inicio/consejerias">
            <mat-icon class="icono">description</mat-icon>
            <samp class="icon_tex">Chat</samp>
         </div>
         <div class="iconos_orden" routerLink="/inicio/consejerias">
            <mat-icon class="icono">forum</mat-icon>
            <samp class="icon_tex">Formulario</samp>
         </div>
      </div>
    </div>
    <hr width=100%>
    <div class="bienestar"></div>
    <div class="universidad"></div>
   </div>
   