<mat-toolbar class="pdi-color">
    <div routerLink="" class="bar-container">
        <img src="./assets/img/Escudo_UD.png" alt="Escudo_UD" class="bar-image">
        <img src="./assets/img/PDI.png" alt="PDI_img" class="bar-image">
    </div>
    
    <div class="example-spacer"><h4>App Interactiva</h4></div>
    <button mat-icon-button routerLink="">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button >
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button >
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button routerLink="/login">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>